In [1]:
START  = '20160229000000'
FINISH = '20160605000000'

In [2]:
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import inspect, select, MetaData, and_
import datetime
import pandas as pd

In [3]:
#SQLALCHEMY


db_uri = 'postgresql://ostap:12345@localhost:5432/goog'
engine = create_engine(db_uri)
conn = engine.connect()

inspector = inspect(engine)

# Get table information

meta = MetaData(engine,reflect=True)
table = meta.tables['news']

#print(inspector.get_table_names())
#print(inspector.get_columns('news'))

select_st = select([table.c.DATE, table.c.TONE, table.c.DOCUMENTIDENTIFIER, table.c.SOURCECOMMONNAME, table.c.GCAM]).where(and_(table.c.DATE < FINISH , table.c.DATE > START))

res = conn.execute(select_st).fetchall()


news = dict()
news['date'] = [datetime.datetime.strptime(el[0], '%Y%m%d%H%M%S') for el in res if '.' not in el[0]]

sents = [el[1] for el in res if '.' not in el[0]]


conn.close()

sent = [x.split(',') for x in sents]

news['tone'] = [float(el[0]) for el in sent]
news['positive'] = [float(el[1]) for el in sent]
news['negative'] = [float(el[2]) for el in sent]
news['polarity'] = [float(el[3]) for el in sent]
news['activ_den'] = [float(el[4]) for el in sent]
news['self_den'] = [float(el[5]) for el in sent]

news['source'] = [el[2] for el in res if '.' not in el[0]]
news['agency'] = [el[3] for el in res if '.' not in el[0]]
news['words'] = [el[4] for el in res if '.' not in el[0]]

del res

TONE = pd.DataFrame.from_dict(news)
del news

/home/ostapkharysh/.local/lib/python3.5/site-packages/ipykernel_launcher.py:12: SADeprecationWarning: reflect=True is deprecate; please use the reflect() method.
  if sys.path[0] == '':

In [4]:
TONE = TONE.sort_values(by=['date'])
TONE = TONE[['date', 'tone', 'positive', 'negative', 'polarity', 'activ_den', 'self_den', 'source', 'agency', 'words']]
TONE = TONE.reset_index(drop=True)
print(len(TONE))
TONE.head()

654720

,date,tone,positive,negative,polarity,activ_den,self_den,source,agency,words
0,2016-02-29 00:15:00,3.754693,5.381727,1.627034,7.008761,22.403004,0.876095,http://www.scoop.co.nz/stories/GE1602/S00095/t...,scoop.co.nz,"wc:714,c1.1:1,c1.3:2,c1.4:1,c12.1:76,c12.10:80..."
1,2016-02-29 00:15:00,-3.157895,3.157895,6.315789,9.473684,16.842105,3.157895,http://bbs.clutchfans.net/showthread.php?s=400...,clutchfans.net,"wc:90,c12.1:17,c12.10:11,c12.13:9,c12.14:3,c12..."
2,2016-02-29 00:15:00,-1.315789,2.302632,3.618421,5.921053,23.026316,0.000000,http://www.theregister.co.uk/2016/02/28/commod...,theregister.co.uk,"wc:274,c12.1:17,c12.10:43,c12.12:15,c12.13:12,..."
3,2016-02-29 00:15:00,-2.488294,1.096990,3.585284,4.682274,11.692308,0.561873,http://article.wn.com/view/2016/02/28/Truce_Br...,wn.com,"wc:3833,c1.2:2,c12.1:194,c12.10:397,c12.11:6,c..."
4,2016-02-29 00:15:00,-1.356852,1.854365,3.211217,5.065581,24.830393,2.397105,http://vtdigger.org/2016/02/28/town-meeting-re...,vtdigger.org,"wc:2056,c1.1:2,c1.2:1,c1.3:6,c12.1:134,c12.10:..."

In [5]:
intraday = pd.read_csv('GOOGReturn.csv')
intraday['date'] = pd.to_datetime(intraday['date'])

In [6]:
period_df = intraday[(intraday['date'] > START ) & (intraday['date'] < FINISH)]

In [7]:
period_df

                     date    price  fin_return
13718 2016-02-29 09:45:00  725.110    0.000018
13719 2016-02-29 09:46:00  725.097   -0.001699
13720 2016-02-29 09:47:00  726.330    0.000000
13721 2016-02-29 09:48:00  726.330    0.000110
13722 2016-02-29 09:49:00  726.250   -0.001183
13723 2016-02-29 09:50:00  727.110   -0.000544
13724 2016-02-29 09:51:00  727.506   -0.001091
13725 2016-02-29 09:52:00  728.300    0.000755
13726 2016-02-29 09:53:00  727.750   -0.001291
13727 2016-02-29 09:54:00  728.690    0.000851
13728 2016-02-29 09:55:00  728.070   -0.000106
13729 2016-02-29 09:56:00  728.147   -0.001856
13730 2016-02-29 09:57:00  729.500    0.001880
13731 2016-02-29 09:58:00  728.130   -0.000015
13732 2016-02-29 09:59:00  728.141    0.002229
13733 2016-02-29 10:00:00  726.520    0.000234
13734 2016-02-29 10:01:00  726.350   -0.000110
13735 2016-02-29 10:02:00  726.430    0.001198
13736 2016-02-29 10:03:00  725.560   -0.000854
13737 2016-02-29 10:04:00  726.180    0.000510
13738 2016-02-29 10:05:00  725.810   -0.001418
13739 2016-02-29 10:06:00  726.840    0.000041
13740 2016-02-29 10:07:00  726.810   -0.000605
13741 2016-02-29 10:08:00  727.250    0.001293
13742 2016-02-29 10:09:00  726.310   -0.000586
13743 2016-02-29 10:10:00  726.736   -0.001009
13744 2016-02-29 10:11:00  727.470    0.001849
13745 2016-02-29 10:12:00  726.126   -0.000666
13746 2016-02-29 10:13:00  726.610   -0.000647
13747 2016-02-29 10:14:00  727.080   -0.000729
...                   ...      ...         ...
38236 2016-06-03 15:16:00  736.599    0.000610
38237 2016-06-03 15:17:00  736.150   -0.000236
38238 2016-06-03 15:18:00  736.324    0.000304
38239 2016-06-03 15:19:00  736.100   -0.000027
38240 2016-06-03 15:20:00  736.120   -0.000577
38241 2016-06-03 15:21:00  736.545    0.000190
38242 2016-06-03 15:22:00  736.405   -0.000373
38243 2016-06-03 15:23:00  736.680    0.000326
38244 2016-06-03 15:24:00  736.440    0.000244
38245 2016-06-03 15:25:00  736.260   -0.000394
38246 2016-06-03 15:26:00  736.550    0.000258
38247 2016-06-03 15:27:00  736.360   -0.000312
38248 2016-06-03 15:28:00  736.590   -0.000042
38249 2016-06-03 15:29:00  736.621   -0.000067
38250 2016-06-03 15:30:00  736.670    0.000068
38251 2016-06-03 15:31:00  736.620    0.000176
38252 2016-06-03 15:32:00  736.490    0.000394
38253 2016-06-03 15:33:00  736.200    0.000033
38254 2016-06-03 15:34:00  736.176    0.000158
38255 2016-06-03 15:35:00  736.060   -0.000204
38256 2016-06-03 15:36:00  736.210   -0.000081
38257 2016-06-03 15:37:00  736.270    0.000258
38258 2016-06-03 15:38:00  736.080   -0.000111
38259 2016-06-03 15:39:00  736.162   -0.000147
38260 2016-06-03 15:40:00  736.270    0.000068
38261 2016-06-03 15:41:00  736.220   -0.000462
38262 2016-06-03 15:42:00  736.560    0.000163
38263 2016-06-03 15:43:00  736.440    0.000000
38264 2016-06-03 15:44:00  736.440    0.001304
38265 2016-06-03 15:45:00  735.480    0.000503

[24548 rows x 3 columns]

In [8]:
start = datetime.datetime.strptime(START, '%Y%m%d%H%M%S') #2016-02-01
finish = datetime.datetime.strptime(FINISH, '%Y%m%d%H%M%S')

step = datetime.timedelta(minutes=15)
t = start

TIME = list()
while t < finish:
    TIME.append(t)
    t+=step
    
    
#selecting only 15 minute price periods    
period_df = period_df[pd.to_datetime(period_df['date'].values).minute % 15 == 0]
period_df = period_df.reset_index(drop=True)


# filling gaps with NONE
lack_p = set(TIME) - set(period_df['date'])

for el in lack_p:
    period_df = period_df.append({'date': el, 'fin_return': np.nan}, ignore_index = True)
    
lack_t = set(TIME) - set(TONE['date'])
for el in lack_t:
    TONE = TONE.append({'date': el, 'tone': np.nan, 'positive': np.nan, 
                                   'negative': np.nan, 'polarity' : np.nan, 
                                    'activ_den': np.nan, 
                                    'self_den' : np.nan}, ignore_index = True)
    
# sorting by date
period_df = period_df.sort_values(by=['date'])
TONE = TONE.sort_values(by=['date'])

period_df = period_df.reset_index(drop=True)
TONE = TONE.reset_index(drop=True)

# ACTUAL MERGE
TONE['fin_return']=TONE[['date']].merge(period_df,how='left').fin_return
TONE.head()

,date,tone,positive,negative,polarity,activ_den,self_den,source,agency,words,fin_return
0,2016-02-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-02-29 00:15:00,3.754693,5.381727,1.627034,7.008761,22.403004,0.876095,http://www.scoop.co.nz/stories/GE1602/S00095/t...,scoop.co.nz,"wc:714,c1.1:1,c1.3:2,c1.4:1,c12.1:76,c12.10:80...",NaN
2,2016-02-29 00:15:00,0.000000,1.086957,1.086957,2.173913,23.188406,2.536232,http://www.bangaloremirror.com/news/india/Delh...,bangaloremirror.com,"wc:248,c12.1:14,c12.10:14,c12.12:4,c12.13:4,c1...",NaN
3,2016-02-29 00:15:00,-3.107345,1.412429,4.519774,5.932203,22.033898,1.694915,http://mmatorch.com/2016/02/28/anderson-silvas...,mmatorch.com,"wc:318,c12.1:25,c12.10:39,c12.12:16,c12.13:12,...",NaN
4,2016-02-29 00:15:00,1.234568,4.115226,2.880658,6.995885,20.576132,2.880658,http://mmatorch.com/2016/02/28/alistair-overee...,mmatorch.com,"wc:217,c12.1:17,c12.10:19,c12.12:5,c12.13:4,c1...",NaN

In [9]:
# Data types that should be included in news to be considered financial
GCAM_most = ['c18.59', 'c18.60', 'c18.61', 'c18.63', 'c18.154','c18.286', 'c18.287', 'c18.288']

GCAM = ['c18.59', 'c18.60', 'c18.61', 'c18.63', 'c18.154','c18.286', 'c18.287', 'c18.288', 'c1.2', 'c2.45',
        'c2.58', 'c4.1', 'c4.16', 'c9.853', 'c16.47', 'c16.60', 'c18.36',
        'c18.42', 'c18.47', 'c18.53', 'c18.54', 'c18.62', 'c18.178',
        'c18.187', 'c18.188', 'c18.189', 'c18.213', 'c18.214', 'c18.215', 'c18.218',
       'c18.219', 'c18.223', 'c18.225', 'c18.246', 'c18.247', 'c18.248', 'c18.258', 
        'c18.272', 'c18.279', 'c18.280', 'c18.289', 'c18.290', 'c18.292', 'c18.293', 'c18.294', 'c18.307', 'c18.332', 
       'c18.335']

In [10]:
# greedy qualifier whether the news is financial
fin = list()
for el in TONE.words:
    dec = False
    for tp in GCAM_most:
        try:
            if tp in el:
                dec = True
        except TypeError:
            pass
    fin.append(dec)
TONE['financial'] = fin

In [11]:
TONE.head()

,date,tone,positive,negative,polarity,activ_den,self_den,source,agency,words,fin_return,financial
0,2016-02-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,2016-02-29 00:15:00,3.754693,5.381727,1.627034,7.008761,22.403004,0.876095,http://www.scoop.co.nz/stories/GE1602/S00095/t...,scoop.co.nz,"wc:714,c1.1:1,c1.3:2,c1.4:1,c12.1:76,c12.10:80...",NaN,False
2,2016-02-29 00:15:00,0.000000,1.086957,1.086957,2.173913,23.188406,2.536232,http://www.bangaloremirror.com/news/india/Delh...,bangaloremirror.com,"wc:248,c12.1:14,c12.10:14,c12.12:4,c12.13:4,c1...",NaN,False
3,2016-02-29 00:15:00,-3.107345,1.412429,4.519774,5.932203,22.033898,1.694915,http://mmatorch.com/2016/02/28/anderson-silvas...,mmatorch.com,"wc:318,c12.1:25,c12.10:39,c12.12:16,c12.13:12,...",NaN,False
4,2016-02-29 00:15:00,1.234568,4.115226,2.880658,6.995885,20.576132,2.880658,http://mmatorch.com/2016/02/28/alistair-overee...,mmatorch.com,"wc:217,c12.1:17,c12.10:19,c12.12:5,c12.13:4,c1...",NaN,False

In [12]:
weighted_raw = pd.DataFrame()
for el in TIME:
    data = TONE[TONE.date == el][['date', 'tone', 'positive', 'negative', 'polarity', 
                                  'activ_den', 'self_den', 'agency', 'fin_return']]
    weighted_raw = weighted_raw.append({'date': el, 'tone': data.tone.mean(), 'positive': data.positive.mean(), 
                                                 'negative': data.negative.mean(), 'polarity': data.polarity.mean(), 
                                                 'activ_den' : data.activ_den.mean(), 'self_den': data.self_den.mean(),
                                                  'fin_return': data.fin_return.values[0]}, ignore_index=True)

weighted_raw['fin_return']=weighted_raw[['date']].merge(period_df, how='left').fin_return

In [13]:
# This is data set of previously financially filtered data.Empty 
# tone suggests that at that time no financial info was available about such so the value is 0
weighted_raw[["tone", "negative", "polarity", "positive", "self_den", "activ_den"]] = weighted_raw[["tone", "negative", "polarity", "positive", "self_den", "activ_den"]].fillna(0)

In [14]:
weighted_raw.head()

,activ_den,date,fin_return,negative,polarity,positive,self_den,tone
0,0.000000,2016-02-29 00:00:00,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
1,20.664114,2016-02-29 00:15:00,NaN,3.515230,6.312594,2.797364,1.573017,-0.717866
2,22.474133,2016-02-29 00:30:00,NaN,3.269597,6.537446,3.267849,1.038030,-0.001749
3,23.115521,2016-02-29 00:45:00,NaN,3.056502,6.322273,3.265771,1.363842,0.209269
4,23.803135,2016-02-29 01:00:00,NaN,3.296983,6.477995,3.181012,1.605966,-0.115971

In [15]:
weighted_raw[1:].to_csv("weighted_newsRAW.csv", index=False)

In [16]:
del weighted_raw

In [17]:
weighted_fin = pd.DataFrame()
fin_TONE = TONE[TONE.financial == True]
fin_TONE = fin_TONE.reset_index(drop=True)
for el in TIME:
    data = fin_TONE[fin_TONE.date == el][['date', 'tone', 'positive', 'negative', 'polarity', 
                                  'activ_den', 'self_den', 'agency', 'fin_return']]
    try:
        fin_return = data.fin_return.values[0]
    except IndexError:
        fin_return = np.nan
    weighted_fin = weighted_fin.append({'date': el, 'tone': data.tone.mean(), 'positive': data.positive.mean(), 
                                                 'negative': data.negative.mean(), 'polarity': data.polarity.mean(), 
                                                 'activ_den' : data.activ_den.mean(), 'self_den': data.self_den.mean(),
                                                  'fin_return': fin_return}, ignore_index=True)
    
weighted_fin['fin_return']=weighted_fin[['date']].merge(period_df,how='left').fin_return

In [18]:
# This is data set of previously financially filtered data.Empty 
# tone suggests that at that time no financial info was available about such so the value is 0
weighted_fin[["tone", "negative", "polarity", "positive", "self_den", "activ_den"]] = weighted_fin[["tone", "negative", "polarity", "positive", "self_den", "activ_den"]].fillna(0)

In [19]:
weighted_fin.head()

,activ_den,date,fin_return,negative,polarity,positive,self_den,tone
0,0.000000,2016-02-29 00:00:00,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
1,20.327422,2016-02-29 00:15:00,NaN,1.227831,2.319236,1.091405,0.136426,-0.136426
2,27.218935,2016-02-29 00:30:00,NaN,7.396450,10.946746,3.550296,0.000000,-3.846154
3,23.044990,2016-02-29 00:45:00,NaN,3.439226,5.766034,2.326808,2.003371,-1.112419
4,18.274112,2016-02-29 01:00:00,NaN,1.945854,3.807107,1.861252,0.592217,-0.084602

In [20]:
weighted_fin[1:].to_csv("weighted_newsFIN.csv", index=False)